MONGODB_URI=
NEXTAUTH_SECRET=

API_SIGN_IN_ENDPOINT=

# *************************************************EMAIL VERIFICATION TOKEN AND SERVER
# https://nodemailer.com/usage/using-gmail/ for password ( sbhc urlf pbfb yugh)
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=

# ***************************************************JWT STORE TOKEN SECRET
TOKEN_SECRET=

# **************************************************** google AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
#***************************************************** GIHUB 
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#***************************************************** CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME=
